# Do not include with Mod Pack instance
# OS generated garbage
*/.DS_Store
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# Instance Sync
**/*.jar
!InstanceSync*.jar
**/*.jar.disabled
**/*.jar.meta

# Generic client Ignores
**/*.log
**/*.toml.bak
/.mixin.out
/crash-reports
/config/jei
/saves
/downloads
/resourcepacks
/kubejs2
/local
/logs
/libraries
/natives
/screenshots
/scripts
/shaderpacks
/structurize
/themes
/world
.curseclient

background.png

#config.json
manifest.json
patchouli_data.json
mode.json
realms_persistence.json
usercache.json
usernamecache.json

BotaniaVars.dat
servers.dat
servers.dat_old

options.txt
optionsof.txt

# Generic Server Ignores
run-server.bat
run-server.sh
server.properties

eula.txt

1.16.5.json
ops.json
banned-ips.json
banned-players.json
whitelist.json
