#Do not include with Modpack instance

#OS generated garbage
*/.DS_Store
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# Instance Sync
**/*.jar
!InstanceSync*.jar
**/*.jar.disabled
**/*.jar.meta

# Optional: Generic Modpack Ignores
**/*.log
/.mixin.out
/crash-reports
/saves
/downloads
/resourcepacks
/kubejs2
/local
/logs
/natives
/screenshots
/scripts
/shaderpacks
/structurize
.curseclient

options.txt
optionsof.txt

#config.json
patchouli_data.json
mode.json
realms_persistence.json
usercache.json
usernamecache.json

BotaniaVars.dat
